
Please ensure you read this ENTIRE page BEFORE submitting your Application Questionnaire and Portfolio.
The following applies ONLY if you receive communication from the college stating that you are being considered for the next stage of the admission process (the divisional select process).
In order to evaluate your application for final admission, we would like to review an application questionnaire and portfolio of your work.
You are asked to complete the form below and submit samples of portfolio work as described on the form.
Complete the Application Questionnaire form below. It is designed to describe your future career objectives and intentions in the Graphic Design program. It provides information to assist the Academic Review Committee in assessing your potential for success in the program.
The Application Questionnaire is to be completed solely by the applicant and should be written in English.
In the form below, include a link to a web-site, UNLOCKED Google Drive or Dropbox folder containing samples from your personal portfolio.
A portfolio should display your talent, potential and range of skills. It provides us with insight into your ability to follow instructions and organization.
Portfolios should include a maximum of 15 diverse pieces of your best creative work from the three categories listed below:
Digital Work
Typography
One piece from the above two categories must include all preliminary work (i.e. research, roughs, thumbnails) presented on an accompanying page
Traditional Art
Your confidential results will be submitted by the School of Design to the Admissions Office upon review of your Application Questionnaire and Portfolio. The Admissions Office will then make a decision on your application and you will receive notification via email and by mail if you are successful. Please allow at least a week for the review and submission of your results to the Admissions Office. Please check stuview.georgebrown.ca (application summary page) for an update on your status. If you do receive an offer of admission, you should accept it on www.ontariocolleges.ca as soon as possible to reserve your seat in the program.
Learn more about our land acknowledgment
Be kept in the loop about application deadlines, college news, upcoming events, tours and more.
Sign Up Now


416-415-2000
TTY: 1-877-515-5559
ask.george@georgebrown.ca
Visit Our Social Media Hub
Visit Our Social Media Hub
The information contained in this website is subject to change without notice. It should not be viewed as a representation, offer or warranty. Students are responsible for verifying George Brown College fee requirements.