
The following applies only if you receive communication from the College stating that you are being considered for the next stage of the admission process (the divisional select process).
In order to evaluate your application for final admission, you are asked to complete the Application Questionnaire form below. Qualified applicants may also be invited for an interview.
Complete the Application Questionnaire form below. It focuses on queries related to past development experiences and software applications the applicant is familiar with and comfortable working in. The questionnaire is designed to describe your future career objectives and intentions in the program. It provides information to assist the Academic Review Committee in assessing your potential for success in the program.
The Application Questionnaire is to be completed solely by the applicant and should be written in English.
Your confidential results will be submitted by the School of Design to the Admissions Office upon review of your Application Questionnaire. The Admissions Office will then make a decision on your application and you will receive notification via email and by mail if you are successful. Please allow at least a week for the review and submission of your results to the Admissions Office. Please check stuview.georgebrown.ca (application summary page) for an update on your status. If you do receive an offer of admission, you should accept it on ontariocolleges.ca as soon as possible to reserve your seat in the program.
Learn more about our land acknowledgment
Be kept in the loop about application deadlines, college news, upcoming events, tours and more.
Sign Up Now


416-415-2000
TTY: 1-877-515-5559
ask.george@georgebrown.ca
Visit Our Social Media Hub
Visit Our Social Media Hub
The information contained in this website is subject to change without notice. It should not be viewed as a representation, offer or warranty. Students are responsible for verifying George Brown College fee requirements.