
George Brown offers many full-time certificate, diploma, degree, and postgraduate programs
Admission requirements and fees vary from program to program. It is important to check the program page you are interested in for specific admission requirements.
Program Availability & Status
Program Finder
The minimum requirement for admission to postsecondary programs is an Ontario Secondary School Diploma, or the equivalent, or Mature Student status (see details below on Mature Students). *
Bachelor's degree programs require a minimum of six Grade 12 credits at the university and/or university/college level.*
Postgraduate programs (Ontario Graduate Certificate) typically require a minimum of a college diploma, university degree or equivalent. Additional requirements may be required. *
* For specific program requirements, please see the program page.
Applicants who are 19 and older on the first day of class, and do not possess a completed OSSD may take an admissions assessment (s) to be considered for their program of choice. For more information, including how to apply, please visit the Mature Students Page.
Learn more about our land acknowledgment
Be kept in the loop about application deadlines, college news, upcoming events, tours and more.
Sign Up Now


416-415-2000
TTY: 1-877-515-5559
ask.george@georgebrown.ca
Visit Our Social Media Hub
Visit Our Social Media Hub
The information contained in this website is subject to change without notice. It should not be viewed as a representation, offer or warranty. Students are responsible for verifying George Brown College fee requirements.